#titulo{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    color: gray;
    font-size: x-large;
    font-weight: bold;
}

#t_prod{
    width: 80%;
    margin: auto;
}